<%= bootstrap_form_with model: comment, url: my_url, method: "post", remote: true do |form| %>
  <p>
    <%= form.text_area :content%>
  </p>
  <div class="row">
    <div class="col-sm-11">
      <p>
        <%= form.submit class: "btn btn-primary"%>
      </p>
    </div>
  </div>
<% end %>