<p class="lead">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <%= render partial: "posts/post", locals: { post: @commentable } %>
      Comments:
      <div id="comments-post-<%= @commentable.id %>">
        <%= render partial: "comments/comment", collection: @comments %>
      </div>
      <div id="comments-post-create">
        <%= render partial: "comments/form", locals: {comment: @comment, commentable: @commentable, my_url: user_post_comments_path(post_id: @commentable.id)} %>
      </div>
    </div>
  </div>
</p>