<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row"><p></p></div>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= render partial: "users/form", locals: {my_url: user_url, user: @user} %>
  </div>
  <div class="col-sm-3"></div>
</div>