<div class="card-body">

  <p class="card-text"><%= @post.content%></p>
</div>
<div class="card-body">
  <p class="card-text"></p>
</div>
<div class="card-footer text-muted">
  <div class="row">
    <div class="col-sm-11">
      2 days ago
    </div>
    <div class="col-sm-1">
      Likes:
    </div>
  </div>
</div>
