
<p class="card-text"><%= @post.content%></p>

<div class="card-footer text-muted">
  <div class="row">
    <div class="col-sm-11">
    </div>
    <div class="col-sm-1">
      Likes:
    </div>
  </div>
</div>