<div class="card mb-3">
  <h3 class="card-header"><%=post.title %></h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <div class="card-body">
    <p class="card-text"><%= post.content%></p>
  </div>
  <div class="card-body">
    <a href="http://localhost:3000/users/1/posts/1" class="card-link">Show</a>
    <a href="#" class="card-link">Another link</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>