<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
<script src="https://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js"></script>

<div class="my-row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1><%= @user.name %></h1>
  </div>
  <div class="col-sm-8">
  </div>
  <div class="col-sm-4">
    <%= button_to 'Destroy post', user_post_path(@user, @post),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }, class:  "btn btn-danger"%>
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="my-row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <%= render partial: "posts/tag_form", locals: {my_url: user_post_url, post: @post, categories: @categories} %>
  </div>
</div>