<p class="lead">
  <div class="my-row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= render partial: "tag_cloud", locals: { tags: @tags } %>
    </div>
    <div class="col-sm-8">
      <%= render partial: "search_form" %>
      <div id="search-button">
        <h1 class="display-3">Posts:</h1>
      </div>
      <div id="main-posts">
        <%= render partial: "post", collection: @posts %>
      </div>
      <div class="my-row">
        <div class="col-sm-5"></div>
        <%= paginate @posts, window: 2 %>
      </div>
    </div>
<div class="col-sm-1">
</div>
</div>
</p>