<p class="lead">
  <div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <%= render partial: "tag_cloud", locals: { categories: @categories } %>
    </div>
    <div class="col-sm-8">
      <h1 class="display-3">Posts:</h1>
      <p>
        <%= render partial: "post", collection: @posts %>
      </p>
    </div>
<div class="col-sm-1">
</div>
</div>
</p>