<h1>TA-DAAAA</h1>
<p class="lead">
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <h1 class="display-3"></h1>
<p><div class="card mb-3">
  <h3 class="card-header"><%=@post.title %></h3>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
  </div>
  <div class="card-body">
<p class="card-text"><%= @post.content%></p>
</div>

<div class="card-footer text-muted">
  2 days ago
</div>
</div></p>
</div>
<div class="col-sm-2">
</div>
</div>
</p>