@import "bootswatch/dist/minty/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/minty/bootswatch";

body, html{
  padding: 0;
  margin: 0;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.avatar-circle {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.little-avatar-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.medium-avatar-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagcloud ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.tagcloud ul li span {
  display: inline-block;
}

.tagcloud ul li span:hover {
  background-color: #cf777c;
  color: #fff;
}

#map {
    height: 600px;
    width: 1200px;
}