@import "bootswatch/dist/minty/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/minty/bootswatch";
@import "chosen";
@import "toastr";

//= require_tree .

.upload-preview img {
  display: block;
  max-width: 100%;
}

.upload-preview {
  margin-bottom: 10px;
  display: inline-block;
  height: 300px;
}

img[src=""] {
  visibility: hidden;
}

body, html{
  padding: 0;
  margin: 0;
}

.my-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.avatar-circle {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.little-avatar-circle {
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.medium-avatar-circle {
  width: 100px;
  height: 100px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.tagcloud ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tagcloud ul li {
  display: inline-block;
  margin: 0 .3em .3em 0;
  padding: 0;
}
.tagcloud ul li span {
  display: inline-block;
}

.tagcloud ul li span:hover {
  background-color: #cf777c;
  color: #fff;
}

#map {
    height: 600px;
    width: 1200px;
}

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: 1px solid #5a5a5a;
  box-shadow: none;
  outline: none;
  background-color: #cf777c;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}

#rating{
  display: inline-flex;
  text-align: left;
}

#main-activities{
  height:300px;
  overflow-y: scroll;
}

#friend-list{
  display: inline-flex;
  text-align: right;
}

div.person{
  overflow: auto;
  margin: auto;
  padding: 20px;
  text-align: center;
}

div.info{
  text-align: center;
}

#status-img{
  width: 10%;
  height: 10%;
  overflow: auto;
}